.resources .image-group {
  display: flex;
  justify-content: right;
  margin-bottom: 0px;
  margin-top: 1%;
  margin-left: 1%;
}

.resources {
  margin-bottom: 45vh; /* push down one screen height */
}

.resources .links {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
}

.resources .terminal-outline {
  background-color: white;
  height: auto;
  width: 80vw;
  margin: auto;
  position: relative;
  top: 7%;
  border-radius: 2px;
  margin-bottom: 5%;
  padding-bottom: 0.5%;
}
.resources .terminal-inside {
  height: auto;
  overflow-y: scroll;
  width: 78vw;
}

.resources a {
  color: #0066cc;
  text-decoration: underline;
  cursor: pointer;
}

.resources a:hover {
  color: #0052a3;
}

@media (max-width: 767.98px) {
  .resources .terminal-outline {
    margin: 0;
    width: 100vw;
  }

  .resources .terminal-inside {
    width: 97vw;
  }
}
