.assignments a {
    color: #FA4DD7;
}

.assignments .image-group {
    display: flex;
    justify-content: right;
    margin-bottom: 0px;
    margin-top: 1%;
    margin-left:1%;
}


.assignments .terminal-outline {
    background-color: white;
    height: auto;
    width: 80vw;
    margin: auto;
    position:relative;
    top: 7%;
    border-radius: 2px;
    /* margin-bottom: 5%; */
    padding-bottom: 0.5%;
}
  
.assignments .terminal-inside {
    height: auto;
    overflow-y: scroll;
    width: 78vw;
}

@media (max-width: 767.98px) {
    .assignments .terminal-outline {
        margin: 0;
        width: 100vw;
    }

    .assignments .terminal-inside {
        width: 97vw;
    }
}