.lectures .image-group {
    display: flex;
    justify-content: right;
    margin-bottom: 0px;
    margin-top: 1%;
    margin-left:1%;
}


.lectures .terminal-outline {
    background-color: white;
    height: auto;
    width: 80vw;
    margin: auto;
    position:relative;
    top: 7%;
    border-radius: 2px;
    padding-bottom: 0.5%;
    margin-bottom: 5%;
}

.lectures .terminal-inside {
    height: 65vh;
    overflow-y: scroll;
    width: 78vw;
}

@media (max-width: 767.98px) {
    .lectures .terminal-outline {
        margin: 0;
        width: 100vw;
    }

    .lectures .terminal-inside {
        width: 97vw;
    }
}
