.home {
    /* align-items: center;
    justify-content: center; */
    text-align: left;
    height: 90vh;
}
.terminal-outline {
    background-color: rgb(239, 245, 255);
    height: 79vh;
    width: 70vw;
    margin: auto;
    position:relative;
    top: 7%;
    border-radius: 2px;
}

.terminal-inside {
    background-color: #231F20;
    height: 71vh;
    width: 68vw;
    position:relative;
    margin:auto;
    top: 2%;
    font-size: 1.2em;
    overflow-y: scroll;
}

@media (max-width: 767.98px) {
    .terminal-outline {
        margin: 0;
        width: 100vw;
    }

    .terminal-inside {
        width: 97vw;
    }
}

.home h2 {
    padding-left: 4%;
    padding-top: 3%;
}
.home h3 {
    padding-left: 4%;
    padding-top: 3%;
}

.home p {
    padding-left: 4%;
    padding-right: 3%;
}

.home ul li{
    color:white;
    font-family: "Menlo-Regular";
    font-size: 0.8em;
    margin-left: 3%;
}

.image-group {
    display: flex;
    justify-content: right;
    margin-bottom: 0px;
    margin-top: 1%;
    margin-left:1%;
}