/* .calendar h2 {
    font-family: "Menlo-Regular";
    font-size: 30px;
    color: #FA4DD7;
} */

.calendar {
  height: 100vh;
}

.frame-container {
  height: 70%;
  width: 70%;
}

@media (max-width: 767.98px) {
  .frame-container {
    width: 100%;
  }
}
